@model Schronisko.Models.Zwierze

@{
    ViewData["Title"] = "CreateZwierze";
}

<h1>Formularz nowego zwierzaka</h1>

<h4>@ViewBag.Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateZwierze">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wiek" class="control-label"></label>
                <input asp-for="Wiek" class="form-control" />
                <span asp-validation-for="Wiek" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OdKiedyWSchronisku" class="control-label"></label>
                <input asp-for="OdKiedyWSchronisku" class="form-control" type="date" />
                <span asp-validation-for="OdKiedyWSchronisku" class="text-danger"></span>
            </div>         

          <div class="form-group form-check">
                <label asp-for="RodzajZwierzecia" class="control-label"></label>
                <select asp-for="RodzajZwierzecia" class="form-control">
                    <option value="">Wybierz </option>
                    <option value="Pies">Pies</option>
                    <option value="Kot">Kot</option>
                    <option value="Chomik">Chomik</option>
                    <option value="Królik">Królik</option>
                    <option value="Świnka morska">Świnka morska</option>
                    <option value="Szczur">Szczur</option>
                    <option value="Mysz">Mysz</option>
                    <option value="Szynszyla">Szynszyla</option>
                    <option value="Żółw">Żółw</option>
                    <option value="Jaszczurka">Jaszczurka</option>
                    <option value="Ptak">Ptak</option>
                    <option value="Krowa">Krowa</option>
                    <option value="Świnia">Świnia</option>
                    <option value="Kura">Kura</option>
                    <option value="Kaczka">Laczka</option>
                    <option value="Owca">Owca</option>
                    <option value="Koza">Koza</option>
                    <option value="Gęś">Gęś</option>
                </select>
                <span asp-validation-for="RodzajZwierzecia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gatunek" class="control-label"></label>
                <input asp-for="Gatunek" class="form-control" />
                <span asp-validation-for="Gatunek" class="text-danger"></span>
            </div>
          <!--  <div class="form-group">
                <label class="control-label">Płeć</label>
                <div class="form-check">
                    <input asp-for="Płeć" type="checkbox" value="Samica" id="samica" class="form-check-input">
                    <label for="samica" class="form-check-label">Samica</label>
                </div>
                <div class="form-check">
                    <input asp-for="Płeć" type="checkbox" value="Samiec" id="samiec" class="form-check-input">
                    <label for="samiec" class="form-check-label">Samiec</label>
                </div>

                <span asp-validation-for="Płeć" class="text-danger"></span>
            </div>-->
            <div class="form-group form-check">
                <label asp-for="Płeć" class="control-label"></label>
                <div>
                    <input type="radio" asp-for="Płeć" class="form-check-input" value="samica" />
                    <label class="form-check-label" for="Płeć">Samica</label>
                </div>
                <div>
                    <input type="radio" asp-for="Płeć" class="form-check-input" value="samiec" />
                    <label class="form-check-label" for="Płeć">Samiec</label>
                </div>
                <span asp-validation-for="Płeć" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label asp-for="Stan" class="control-label"></label>
                <div>
                    <input type="radio" asp-for="Stan" class="form-check-input" value="tak" />
                    <label class="form-check-label" for="Stan">tak</label>
                </div>
                <div>
                    <input type="radio" asp-for="Stan" class="form-check-input" value="nie" />
                    <label class="form-check-label" for="Stan">nie</label>
                </div>
                <span asp-validation-for="Stan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
