@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>FUTRZANA FERAJNA</h1> 
    <p>Nie jesteśmy zwykłym schroniskiem, KAŻDE zwierze znajdzie u nas drugi dom</p>
</div>
